<a href="https://colab.research.google.com/github/gustavohroos/treinamento-h2ia/blob/main/KNN/knn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [99]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from scipy import stats

#Algoritmo

In [100]:
class KNN():
     
    def __init__(self, K):
        self.K = K
    
    def fit(self, X, y):
        self.X_train = X
        self.y_train = y

    def predict(self, X, y):
        wrongs = rights = 0
        y_pred = []
        i = 0
        for x in X:
            predict = self._predict(x)
            y_pred.append(predict)
            if predict == y[i]:
                rights += 1
            else:
                wrongs += 1
            i += 1
        return np.array(y_pred), rights/(X.shape[0])

    def _predict(self, x):
        distances = [self.manhattan_distance(x, x_train) for x_train in self.X_train]
        k_index = np.argsort(distances)[:self.K]
        k_neighbor_labels = [self.y_train[i] for i in k_index]
        result = stats.mode(k_neighbor_labels)
        return result[0][0]

    def manhattan_distance(self, sample, centroid):
        return abs((sample[0] - centroid[0])) + abs((sample[1] - centroid[1]))

#Dados

In [101]:
X, y = load_iris(return_X_y=True)
df = pd.DataFrame(data= np.c_[X, y], columns= ['sepal_lenght', 'sepal_width', 'petal_length', 'petal_width', 'target'])
df

     sepal_lenght  sepal_width  petal_length  petal_width  target
0             5.1          3.5           1.4          0.2     0.0
1             4.9          3.0           1.4          0.2     0.0
2             4.7          3.2           1.3          0.2     0.0
3             4.6          3.1           1.5          0.2     0.0
4             5.0          3.6           1.4          0.2     0.0
..            ...          ...           ...          ...     ...
145           6.7          3.0           5.2          2.3     2.0
146           6.3          2.5           5.0          1.9     2.0
147           6.5          3.0           5.2          2.0     2.0
148           6.2          3.4           5.4          2.3     2.0
149           5.9          3.0           5.1          1.8     2.0

[150 rows x 5 columns]

##Normalizando

In [102]:
normalized_data = StandardScaler().fit_transform(df)
normalized_data = pd.DataFrame(data=normalized_data)
normalized_data

            0         1         2         3         4
0   -0.900681  1.019004 -1.340227 -1.315444 -1.224745
1   -1.143017 -0.131979 -1.340227 -1.315444 -1.224745
2   -1.385353  0.328414 -1.397064 -1.315444 -1.224745
3   -1.506521  0.098217 -1.283389 -1.315444 -1.224745
4   -1.021849  1.249201 -1.340227 -1.315444 -1.224745
..        ...       ...       ...       ...       ...
145  1.038005 -0.131979  0.819596  1.448832  1.224745
146  0.553333 -1.282963  0.705921  0.922303  1.224745
147  0.795669 -0.131979  0.819596  1.053935  1.224745
148  0.432165  0.788808  0.933271  1.448832  1.224745
149  0.068662 -0.131979  0.762758  0.790671  1.224745

[150 rows x 5 columns]

##Aplicando *Principal Component Analysis* para diminuir as dimensões do dataset

In [103]:
pca = PCA(n_components=2)
x_transformed = pca.fit_transform(normalized_data)

#Dividindo o dataset em treino e teste

In [104]:
x_train, x_test, y_train, y_test = train_test_split(x_transformed, y, test_size=0.2)

#Treino e teste

In [105]:
model = KNN(5)
model.fit(x_train, y_train)
classifications, accuracy = model.predict(x_test, y_test)

print(classifications)
print(f'Acurácia = {accuracy}')

[1 0 2 1 2 0 0 1 2 2 0 1 2 2 0 0 2 2 2 1 1 2 2 1 2 1 0 0 0 0]
Acurácia = 0.9666666666666667